@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
    <h1 class="display-">Projelere erişim için admin girişi gereklidir,aksi durumda sadece size atanan projelere erişebilirsiniz.</h1>
    <p>Learn about <a href="https://www.github.com/mehmetMRE">My Github</a>.</p>
</div>
